<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Action</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contact in vm.contacts">
        <th scope="row">{{$index}}</th>
        <td ui-sref="view-detail({id : contact._id})">
            <a href="#">{{contact.fullName}}</a>
        </td>
        <td>{{contact.email}}</td>
        <td>{{contact.telephone}}</td>
        <td><button class="btn btn-primary" ng-click="vm.editContact(contact._id)">edit</button></td>
        <td><button class="btn btn-danger" ng-click="vm.deleteContact(contact._id)">delete</button></td>
    </tr>
    </tbody>
</table>